@model EquipmentMonitoringSystem.PresentationLayer.Models.EquipmentEditViewModel
@{
    ViewData["Title"] = "Добавить оборудование";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="column">
            <h4 class="display-4">Добавить оборудование</h4>

            <div class="col-8 mb-4">
                <form asp-controller="Equipment" asp-action="Add" method="post">
                    <div class="form-group mb-2">
                        <label asp-for="Name">Наименование</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label asp-for="Type">Тип</label>
                        <input asp-for="Type" class="form-control">
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    <div class="form-group mb-2">
                        <label asp-for="GroupId" class="form-label">Группа</label>
                        <select id="SelectedTypeId" asp-for="GroupId" asp-items="Model.Groups" class="form-select"></select>
                        <span asp-validation-for="GroupId" class="text-danger"></span>
                    </div>

                    <div class="col-8 mb-4 form-group mb-2">
                        <label asp-for="FactoryNumber">Заводской номер</label>
                        <input asp-for="FactoryNumber" class="form-control">
                        <span asp-validation-for="FactoryNumber" class="text-danger"></span>
                    </div>

                    <h2 class="h2">Виды тех.обслуживания</h2>
                    <div class="border-1 rounded">
                        <div class="row">
                        @for(int i = 0; i < 3; i++){
                            
                            <div class="card col-sm" style="width: 18rem;">
                                <div class="card-header text-center">
                                    <input asp-for="Maintenances[i].Name" placeholder="Имя" class="form-control">
                                    <span asp-validation-for="Maintenances[i].Name" class="text-danger"></span>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <label asp-for="Maintenances[i].NumberHours">Кол-во часов</label>
                                        <input asp-for="Maintenances[i].NumberHours" placeholder="Кол-во часов" class="form-control">
                                        <span asp-validation-for="Maintenances[i].NumberHours" class="text-danger"></span>
                                    </li>
                                    <li class="list-group-item">
                                        <label asp-for="Maintenances[i].DateMaintenance">Дата проведения</label>
                                        <input asp-for="Maintenances[i].DateMaintenance" placeholder="Дата проведения" class="form-control" type="date" />
                                        <span asp-validation-for="Maintenances[i].DateMaintenance" class="text-danger"></span>
                                    </li>
                                </ul>
                            </div>
                        }
                        </div>
                        
                        <div class="row">
                            @for (int i = 3; i < 6; i++)
                            {
                                <div class="card col-sm" style="width: 18rem;">
                                    <div class="card-header text-center">
                                        <input asp-for="Maintenances[i].Name" placeholder="Имя" class="form-control">
                                        <span asp-validation-for="Maintenances[i].Name" class="text-danger"></span>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <label asp-for="Maintenances[i].NumberHours">Кол-во часов</label>
                                            <input asp-for="Maintenances[i].NumberHours" placeholder="Кол-во часов" class="form-control">
                                            <span asp-validation-for="Maintenances[i].NumberHours" class="text-danger"></span>
                                        </li>
                                        <li class="list-group-item">
                                            <label asp-for="Maintenances[i].DateMaintenance">Дата проведения</label>
                                            <input asp-for="Maintenances[i].DateMaintenance" placeholder="Дата проведения" class="form-control" type="date" />
                                            <span asp-validation-for="Maintenances[i].DateMaintenance" class="text-danger"></span>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="validation" asp-validation-summary="ModelOnly"></div>

                    <button type="submit" class="btn btn-success mt-1">Добавить</button>
                </form>
            </div>

            <a asp-action="Index">Вернуться назад</a>
        </div>
    </main>
</div>
