@{
    ViewData["Title"] = "Статистика";
}


<input id="ID" value="Show Statictic" type="button"></input>
<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <i class="fa-sharp fa-solid fa-house bi me-2" width="16" height="16"></i> Общее
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-sharp fa-solid fa-city bi me-2" width="16" height="16"></i> Пример
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-sharp fa-solid fa-briefcase bi me-2" width="16" height="16"></i> Пример
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-sharp fa-solid fa-link bi me-2" width="16" height="16"></i> Пример
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa-sharp fa-solid fa-filter bi me-2" width="16" height="16"></i> Пример
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col-10">
            <div class="row">
                <div class="col text-center">
                    <h4 class="h4">График прохождения ТО на разных станциях за месяц</h4>
                    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="1329" height="561" style="display: block; width: 1329px; height: 561px;"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h4 class="h4">Количество внеплановых ремонтов на станциях</h4>
                    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart2" width="1329" height="561" style="display: block; width: 1329px; height: 561px;"></canvas>
                </div>
                <div class="col-6">
                    <h4 class="h4">Количество оборудований на разных станциях</h4>
                    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart3" width="1329" height="561" style="display: block; width: 1329px; height: 561px;"></canvas>
                </div>
            </div>
        </div>
    </div>
    
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Станция №1', 'Станция №2', 'Станция №3', 'Станция №4', 'Станция №5'],
            datasets: [{
                label: 'Кол-во ТО',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const ctx2 = document.getElementById('myChart2');
    new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Станция №1', 'Станция №2', 'Станция №3', 'Станция №4', 'Станция №5'],
            datasets: [{
                label: 'Кол-во ТО',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

</script>

<script type="text/javascript">

    $(function(){
        $("#ID").click(function(){
            $.ajax({
                type:"POST",
                url: "/Statistic/GetStatistics",
                data: "",
                contextType: "application/json; charset=utf-8",
                dataType:"json",
                success: OnSuccessResult,
                error: OnError
            });

            function OnSuccessResult(data){

                var _data = data;
                var _chartLabels=_data[0];
                var _chartData=_data[1];
                
                var barColor=["red", "green", "blue", "orange", "brown", "purple"];

                new Chart("myChart3",
                {
                    type:"bar",
                    data:{
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data:_chartData
                        }]
                    }
                });
            }

            function OnError(err) {

            }
        });
    });

</script>