@model EquipmentMonitoringSystem.PresentationLayer.Models.GroupViewIndexModel
@{
    ViewData["Title"] = "Список групп";
}

<form asp-controller="Group" asp-action="Index">
    <div class="container mb-2">
        <div class="row">
            <div class="col">Выберите станцию</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <select id="SelectedStationIdviewgr" asp-for="@Model.StationId" asp-items="Model.Stations" class="form-select">
                    <option selected disabled>Выберите станцию</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-success">Поиск</button>
            </div>
        </div>
    </div>
</form>

<div class="action-area">
    <h4>Добавить новую группу </h4>
    <a class="btn btn-success action-icon" onclick="showInPopup('@Url.Action("Add", "Group", null, Context.Request.Scheme)', 'Новая Станция')" title="Нажмите, чтобы добавить.">
        <i class="fa-sharp fa-solid fa-plus"></i>
    </a>
</div>

@if (Model.Groups != null)
{
    if (Model.Groups.Count != 0)
    {
        <div id="view-all">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    }
    else
    {
        <h5 class="mt-2 m-lg-2">У данной станции нет групп</h5>
    }
}
else
{
    <h5 class="mt-2 m-lg-2">У данной станции нет групп</h5>
}
