@model EquipmentMonitoringSystem.PresentationLayer.Models.GroupViewIndexModel
@{
    ViewData["Title"] = "Список групп";
}

<form asp-controller="Group" asp-action="Index">
    <div class="container mb-2">
        <div class="row">
            <div class="col">Выберите станцию</div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <select id="SelectedStationIdviewgr" asp-for="@Model.StationId" asp-items="Model.Stations" class="form-select">
                    <option selected disabled>Выберите станцию</option>
                </select>
            </div>
            <div class="col">
                <button class="btn btn-success">Поиск</button>
            </div>
        </div>
    </div>
</form>

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

<script>
    function tableSearch() {
        var phrase = document.getElementById('search-text');
        var table = document.getElementById('info-table');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }
</script>

<script>
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("info-table");
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                //check if the two rows should switch place:
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>