@page
@model LogoutModel
@{
    ViewData["Title"] = "Выход";
}

<header>
    <h1 class="text-center">@ViewData["Title"]</h1>
    @{
        if (User.Identity.IsAuthenticated)
        {
            <div class="row">
                <div class="col-12">
                    <p class="text-center">Вы уверены, что хотите выйти из аккаунта?</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-flex justify-content-end">
                    <form style="display: inline-block;" class="form-inline " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class=" btn btn-outline-danger">⠀Да⠀</button>
                    </form>
                </div>
                <div class="col-6 ">
                    <form style="display: inline-block;" class="form-inline " asp-area="Home" asp-page="/Home/Index" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class=" btn btn-outline-primary">Нет⠀</button>
                    </form>
                </div>
            </div>
        }
        else
        {
            <p>Вы успешно вышли.</p>
        }
    }
</header>
