@model List<EquipmentMonitoringSystem.PresentationLayer.Models.UnplannedMainView>
@{
    ViewData["Title"] = "Список станций";
}


@if(Model.Count != 0)
{
    <div class="container">
        <main role="main" class="pb-3">

            <input class="form-control" type="text" placeholder="Поиск по таблице" id="search-text" onkeyup="tableSearch()">
            <p><button class="btn btn-success mt-1" onclick="sortTable()">Отсортировать таблицу по алфавиту</button></p>


            <table class="table table-bordered mt-1" id="info-table">
                <thead>
                    <tr>
                        <th scope="col">Сообщение</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Оборудование</th>
                        <th scope="col">Станция</th>
                        <th scope="col">Действия</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Header</td>
                            <td>@item.Description</td>
                            <td>@item.EmplName</td>
                            <td>@item.StatName</td>
                            <td>
                                <a class="btn btn-success action-icon" href="/UpcomingMaintenance/Fix/@item.Id" title="Нажмите, чтобы объявить о прохождении ТО.">
                                    <i class="fa-sharp fa-solid fa-check"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </main>
    </div>
}
else
{
    <h1>Внеплановых ремонтов пока нет</h1>
}


<script>
    function tableSearch() {
        var phrase = document.getElementById('search-text');
        var table = document.getElementById('info-table');
        var regPhrase = new RegExp(phrase.value, 'i');
        var flag = false;
        for (var i = 1; i < table.rows.length; i++) {
            flag = false;
            for (var j = table.rows[i].cells.length - 1; j >= 0; j--) {
                flag = regPhrase.test(table.rows[i].cells[j].innerHTML);
                if (flag) break;
            }
            if (flag) {
                table.rows[i].style.display = "";
            } else {
                table.rows[i].style.display = "none";
            }

        }
    }
</script>

<script>
    function sortTable() {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("info-table");
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.getElementsByTagName("TR");
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[0];
                y = rows[i + 1].getElementsByTagName("TD")[0];
                //check if the two rows should switch place:
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }
</script>