@model List<EquipmentMonitoringSystem.PresentationLayer.Models.UpcomingViewMaintenanceModel>
@{
    ViewData["Title"] = "Список приближающихся ТО";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="action-area">
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Имя оборудования</th>
                    <th scope="col">Имя ТО</th>
                    <th scope="col">Дата проведения</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NameEquip</td>
                            <td>@item.NameMain</td>
                            <td>@item.Date</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </main>
</div>