@{
    ViewData["Title"] = "Home Page";
}

@*<div class="container specdiv" bis_skin_checked="1">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark " bis_skin_checked="1">
        <div class="col-md-6 px-0" bis_skin_checked="1">
            <h1 class="display-6 font-italic">Система мониторга прохождения технического обслуживания</h1>
            <p class="lead my-3">Данная система предоставляет удобное представление информации о своем оборудовании. Эта система позволит отслеживать информацию о техническом обслуживании в режиме реального времени, предоставляя предприятию точную и актуальную информацию.</p>
        </div>
    </div>
</div>*@

<div class="vebenan_exsapating specdiv">
  <div class="couragin">
      <img src="~/img/sliders/Slaider1.jpg" alt="Первый слайд">
      <div class="dasemau-souldke">
            Cистема мониторинга планово-предупредительного обслуживания оборудования предприятия предоставит удобное представление информации о своем оборудовании
      </div>
  </div>

  <div class="couragin">
      <img src="~/img/sliders/Slaider2.jpg" alt="Второй слайд">
      <div class="dasemau-souldke">
          Система также позволит предприятию автоматизировать задачи профилактического обслуживания
      </div>
  </div>

  <div class="couragin">
      <img src="~/img/sliders/Slaider3.jpg" alt="Третий слайд">
      <div class="dasemau-souldke">
         Система мониторинга планового профилактического обслуживания оборудования предприятия предоставит предприятию инструменты и информацию, необходимые для обеспечения бесперебойной и эффективной работы его предприятия
      </div>
  </div>

  <a class="prev" onclick="minusSlide()">❮</a>
  <a class="next" onclick="plusSlide()">❯</a>
</div>

<div class="vebenan_exsapating-dots">
  <span class="asequ_tomore_katima" onclick="currentSlide(1)"></span>  
  <span class="asequ_tomore_katima" onclick="currentSlide(2)"></span>  
  <span class="asequ_tomore_katima" onclick="currentSlide(3)"></span>  
</div>


<div class="action-area">
    <a class="btn buttonMain mt-4" href="Station">Начать</a>
</div>


@*<div class="BG">
    <img src="~/img/MainPage.jpg" alt="" />
</div>*@