@{
    ViewData["Title"] = "Главнвя страница";
}



<div class="vebenan_exsapating specdiv">
  <div class="couragin">
      <img src="~/img/sliders/Slaider1.jpg" alt="Первый слайд">
      <div class="dasemau-souldke">
            Cистема мониторинга планово-предупредительного обслуживания оборудования предприятия предоставит удобное представление информации о своем оборудовании
      </div>
  </div>

  <div class="couragin">
      <img src="~/img/sliders/Slaider2.jpg" alt="Второй слайд">
      <div class="dasemau-souldke">
          Система также позволит предприятию автоматизировать задачи профилактического обслуживания
      </div>
  </div>

  <div class="couragin">
      <img src="~/img/sliders/Slaider3.jpg" alt="Третий слайд">
      <div class="dasemau-souldke">
         Система мониторинга планового профилактического обслуживания оборудования предприятия предоставит предприятию инструменты и информацию, необходимые для обеспечения бесперебойной и эффективной работы его предприятия
      </div>
  </div>

  <a class="prev" onclick="minusSlide()">❮</a>
  <a class="next" onclick="plusSlide()">❯</a>
</div>

<div class="vebenan_exsapating-dots">
  <span class="asequ_tomore_katima" onclick="currentSlide(1)"></span>  
  <span class="asequ_tomore_katima" onclick="currentSlide(2)"></span>  
  <span class="asequ_tomore_katima" onclick="currentSlide(3)"></span>  
</div>

<div class="jumbotron p-5 p-md-6 text-dark rounded bg-white ">
    <div class="row">
        <div class="col-7">
            <h2 class="display-6 font-italic">Загрузка оборудований из Excel</h2>
            <p class="lead my-3">Для добавления всех станций и их оборудований можно воспользоваться конветором из excel.</p>
            <p class="lead mb-0"><a href="#" class="text-dark font-weight-bold">Выполнить обработку..</a></p>
        </div>
        <div class="col-5 text-center">
            <img src="~/img/ExcelIcon.png" class="rounded responsive" alt="...">
        </div>
    </div>
    
</div>

<div class="action-area">
    <a class="btn buttonMain mt-4" href="Station">Начать работу</a>
</div>


@*<div class="BG">
    <img src="~/img/MainPage.jpg" alt="" />
</div>*@