@model EquipmentMonitoringSystem.PresentationLayer.Models.StationEditModel
@{
    ViewData["Title"] = "Добавить станцию";
    Layout = null;
}


<div class="container">
    <main role="main" class="pb-3">
        <div class="column">

            <div class="col-8 mb-4">
                    <form asp-controller="Station" asp-action="Add" onsubmit="return jQueryAjaxPost(this);">
                    <div class="form-group mb-3">
                        <label asp-for="Name">Наименование</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="validation" asp-validation-summary="ModelOnly"></div>

                    <input type="submit" value="Выполнить" class="btn btn-primary btn-block" />
                </form>
            </div>
        </div>
    </main>
</div>