@model EquipmentMonitoringSystem.PresentationLayer.Models.StationEditModel
@{
    ViewData["Title"] = "Изменить станцию";
    Layout = null;
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="column">

            <div class="col-8 mb-4">
                <form asp-controller="Station" asp-action="Edit" onsubmit="return jQueryAjaxPost(this);">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <div class="form-group mb-3">
                        <label asp-for="Name">Наименование</label>
                        <input asp-for="Name" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="validation" asp-validation-summary="ModelOnly"></div>

                    <button type="submit" class="btn btn-success">Изменить</button>
                    <a asp-action="Index" class="btn btn-primary">Назад к списку</a>
                </form>
            </div>
        </div>
    </main>
</div>