@{
    ViewData["Title"] = "Импорт из Excel";
}

<div>
    <form asp-action="ImportExcel" asp-controller="Station" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" /><br>
        <input type="submit" value="Загрузить" />
    </form>
</div>
