@model List<EquipmentMonitoringSystem.PresentationLayer.Models.StationViewModel>
@{
    ViewData["Title"] = "Список станций";
}

<div class="container">
    <main role="main" class="pb-3">
        <div class="action-area">
            <h4>Добавить новую станцию </h4>
            <a class="btn btn-success action-icon" href="/Station/Add" title="Нажмите, чтобы добавить.">
                <i class="fa-sharp fa-solid fa-plus"></i>
            </a>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">№</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Кол-во групп</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var index = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@index</th>
                            <td>@item.Station.Name</td>
                            <td>@item.Groups.Count</td>
                            <td>
                                <div class="action-area">
                                    <a class="btn btn-secondary action-icon" href="/Station/Edit/@item.Station.Id" title="Нажмите, чтобы редактировать информацию.">
                                        <i class="fas fa-pen"></i>
                                    </a>
                                    <a class="btn btn-primary action-icon" href="/Station/Info/@item.Station.Id" title="Нажмите, чтобы узнать подробную информацию.">
                                        <i class="fas fa-info"></i>
                                    </a>
                                    <a class="btn btn-danger action-icon" href="/Station/Remove/@item.Station.Id" title="Нажмите, чтобы удалить.">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        index++;
                    }
                }
            </tbody>
        </table>
    </main>
</div>