@model List<EquipmentMonitoringSystem.PresentationLayer.Models.StationIndexViewModel>
@{
    ViewData["Title"] = "Список станций";
}

<div id="view-all">
    @await Html.PartialAsync("_ViewAll", Model)
</div>

