<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EquipmentMonitoringSystem.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/397fb4371f.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="~/Icon.png" type="image/png">
    <link rel="stylesheet" href="~/css/Slider.css" asp-append-version="true" />
    <!--Слайдер-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
</head>

<body>

    <div id="preloader">
        <div class="loader"></div>
    </div>

    <header class="p-3 text-bg-white bg-dark mb-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <img class="bi me-2" width="42" height="42" role="img" src="~/Icon.png" aria-label="PulseRig"></img>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item dropdown text-white">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Списки и дествия
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-light" aria-labelledby="navbarDarkDropdownMenuLink">
                                <li class="dropdown-item text-light">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Station" asp-action="Index">Станции</a>
                                </li>
                                <li class="dropdown-item text-light">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Group" asp-action="Index">Группы</a>
                                </li>
                                <li class="dropdown-item text-light">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Equipment" asp-action="Index">Оборудования</a>
                                </li>
                                <li class="dropdown-item text-light">
                                    <a class="nav-link text-light" asp-controller="Excel" asp-action="ImportExcel">Экспорт из Excel</a>
                                </li>
                            </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Техническое обслуживание
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li class="dropdown-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Statistic" asp-action="Index">Статистика</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="UpcomingMaintenance" asp-action="Index">Приближающиеся ТО</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Maintenance" asp-action="CompleteMaintenances">Выполненные ТО</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Maintenance" asp-action="AddUnscheduled">Создать внеплановый ремонт</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Админ панель
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li class="dropdown-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="AppRoles" asp-action="Index">Роли</a>
                            </li>
                            <li class="dropdown-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="User" asp-action="Index">Пользователи</a>
                            </li>
                        </ul>
                    </li>
                    

                </ul>

                

                <div class="text-end">
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </div>
    </header>

    <div class="container ">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <div class="modal" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Slider.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="~/js/dashboard.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
