@using Microsoft.AspNetCore.Identity
@using EquipmentMonitoringSystem.Areas.Identity.Data

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    //Убираем все символы после @
    var name = UserManager.GetUserName(User).ToString().Split("@").First();
    <a class="me-3 nav-link p-2 notification" asp-controller="UpcomingMaintenance" asp-action="IndexNortf">
        <i class="fa-sharp fa-solid fa-bell"></i>
        <span id="nortfid" class="badge"></span>
    </a>
    <a id="manage" class=" btn btn-outline-info" @*asp-area="Identity" asp-page="/Account/Manage/Index"*@ title="Manage">Профиль @name</a>

    <a class="btn btn-outline-light" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Выйти</a>
    
    
}
else
{
    <a class="btn btn-warning" id="register" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
    <a class="btn btn-outline-light me-2" id="login" asp-area="Identity" asp-page="/Account/Login">Войти</a>
}


<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/UpcomingMaintenance/CountNortify",
            contextType: "application/json; charset=utf-8",
            dataType: "json",
            success: OnSuccessResult,
            error: OnError
        });

        function OnSuccessResult(data) {
            var _data = data;
            document.getElementById("nortfid").innerHTML = _data[0];
        }

        function OnError(err) {
            
        }
    });
</script>