html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar-nav {
    z-index: 1000000;
}

.dropdown-menu {
    z-index: 1000000;
}


.logoutform {
    display: inline-block;
}

html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    scroll-behavior: auto;
}

header {
    position: relative;
    z-index: 2;
}

.specdiv {
    position: relative;
    z-index: 1;
}

.img {
    z-index: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.BG {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

    .BG img {
        width: 100%;
    }

.action-area {
    display: flex;
    flex-direction: row;
}

.action-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.tb {
    border-collapse: collapse;
    width: 300px;
}

    .tb th, .tb td {
        padding: 5px;
        border: solid 1px #777;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap; /* Запрещаем перенос слов */
    }

    .tb th {
        background-color: lightblue;
    }



.buttonMain {
    margin: 0 auto;
    display: block;
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

    .buttonMain:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
    }


.buttonMain:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}


.notification {
    background-color: #212529;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

    .notification:hover {
        background: white;
    }

    .notification .badge {
        position: absolute;
        top: -5px;
        right: -5px;
        padding: 5px 10px;
        border-radius: 50%;
        background: red;
        color: white;
    }

.chart-container {
    position: relative;
    margin: auto;
    height: auto;
    width: 100%;
}

/*Preloader*/
#preloader{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:999999;
    background:#000;
}
.loader{
    width:40px;
    height:40px;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-13px;
    margin-left:-13px;
    border-radius:60px;
    animation:loader 0.8s linear infinite;
    -webkit-animation:loader 0.8s linear infinite;
}

@keyframes loader{
    0%{
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
        border: 4px solid #4c9ad4;
        border-left-color: transparent;
    }
    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
        border: 4px solid #24238d;
        border-left-color: transparent;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        border: 4px solid #4c9ad4;
        border-left-color: transparent;
    }
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }

    50% {
        -webkit-transform: rotate(180deg);
        border: 4px solid #673ab7;
        border-left-color: transparent;
    }

    100% {
        -webkit-transform: rotate(360deg);
        border: 4px solid #f44336;
        border-left-color: transparent;
    }
}

.stationround {
    background-color: white;
    border-style: solid;
    border-color: #212529e3;
}


.plus {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: linear-gradient(white,white), linear-gradient(white,white), #0BDA51;
    background-position: center;
    background-size: 50% 2px,2px 50%; 
    background-repeat: no-repeat;
    border: 2px solid black; 
    padding: 10px; 
}

    .plus:hover {
        background: linear-gradient(white,white), linear-gradient(white,white), #228B22;
        background-position: center;
        background-size: 50% 2px,2px 50%; 
        background-repeat: no-repeat;
    }

.alt {
    background: linear-gradient(#000,#000), linear-gradient(#000,#000);
    background-position: center;
    background-size: 50% 2px,2px 50%; 
    background-repeat: no-repeat;
}

.radius {
    border-radius: 50%;
}

.divst {
    min-width: 240px;
    max-width: 240px;
    min-height: 280px;
    max-height: 290px;
}

.divnamest {
    min-height: 30px;
}
