html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar-nav {
    z-index: 1000000;
}

.dropdown-menu {
    z-index: 1000000;
}


html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
    scroll-behavior: auto;
}

header {
    position: relative;
    z-index: 2;
}

.specdiv {
    position: relative;
    z-index: 1;
}

.img {
    z-index: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.BG {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

    .BG img {
        width: 100%;
    }

.action-area {
    display: flex;
    flex-direction: row;
}

.action-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
}

.responsive {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.tb {
    border-collapse: collapse;
    width: 300px;
}

    .tb th, .tb td {
        padding: 5px;
        border: solid 1px #777;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap; /* Запрещаем перенос слов */
    }

    .tb th {
        background-color: lightblue;
    }



.buttonMain {
    margin: 0 auto;
    display: block;
    background-color: white;
    color: black;
    border-radius: 10em;
    font-size: 17px;
    font-weight: 600;
    padding: 1em 2em;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
}

    .buttonMain:hover {
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
    }


.buttonMain:active {
    transform: translateY(2px) translateX(1px);
    box-shadow: 0 0 0 0 black;
}


.notification {
    background-color: #212529;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

    .notification:hover {
        background: white;
    }

    .notification .badge {
        position: absolute;
        top: -5px;
        right: -5px;
        padding: 5px 10px;
        border-radius: 50%;
        background: red;
        color: white;
    }

