

<div class="row text-center">
    <div class="col-12">
        <h3>Что-то пошло не так!</h3>
    </div>
    <div class="col-12">
        <img class="img-fluid" src="~/img/Fail.png" />
    </div>
</div>