@model EquipmentMonitoringSystem.PresentationLayer.Models.ExcelStationsInfo
@{
    ViewData["Title"] = "Импорт из Excel";
}

<div>
    <form asp-action="ImportExcel" asp-controller="Excel" method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" name="uploadedFile" /><br>
        <input class = "btn btn-success" type="submit" value="Считать данные" />
    </form>
</div>

@if (Model != null){
    <div class="mt-2 p-1" style="border: 3px solid #87CEEB; border-radius: 10px">
        <div class="row text-center">
            <div class="col-12">
                <h3 style="color: green;">Данные файла "@Model.FileName"</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4">
                <h5>Кол-во станций</h5>
            </div>
            <div class="col-4">
                <h5>Кол-во групп</h5>
            </div>
            <div class="col-4">
                <h5>Кол-во оборудований</h5>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4">
                <img class="img-fluid" src="~/img/Entities/Station.png"></img>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="~/img/Entities/Group.png"></img>
            </div>
            <div class="col-4">
                <img class="img-fluid" src="~/img/Entities/Equipment.png"></img>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-4">
                <h5>@Model.StCount</h5>
            </div>
            <div class="col-4">
                <h5>@Model.GrCount</h5>
            </div>
            <div class="col-4">
                <h5>@Model.EqCount</h5>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <h5>Сохранить данные в базу?</h5>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <a class="btn btn-success" asp-action="DownNewSts" asp-controller="Excel">Да</a>
                <a class="btn btn-danger" asp-action="DeleteNewSts" asp-controller="Excel">Нет</a>
            </div>
        </div>
    </div>
}