

<div class="row text-center">
    <div class="col-12">
        <h3>Успешное выполнение операции</h3>
    </div>
    <div class="col-12">
        <img class="img-fluid" src="~/img/Check.png"></img>
    </div>
</div>